body {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1;  
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    max-height: 896px;
    width: 896px;
    gap: 0;

}


.square {
    background-color: grey;
    border: solid black;
    max-width: 8px;
    max-height: 8px;
    padding: 25px;
    margin: 0;
    
}

