body {
    height: 1000px;
    display: flex;
    justify-content: center;
    flex: 1;  
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    max-height: 352px;
    width: 352px;
    gap: 0;

}


.square {
    background-color: grey;
    border: solid black;
    max-width: 8px;
    max-height: 8px;
    padding: 8px;
    margin: 0;
}
